:root {

    --black: #000000;
  
  
    --background-light: #FFFBFF;
    --on-background-light: #312b24;
  
  
  
    
    --background-dark: #3a3e34;
    --on-background-dark: #ebe5e5; 
}


/* Light Theme */
.light {
    background-color: var(--background-light);
    color: var(--on-background-light);
}

/* Dark Theme */
.dark {
    background-color: var(--background-dark);
    color: var(--on-background-dark);
}
  
  
  
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: crimson;
    color: #ffffff;
}

header{
    width: 100%;
    height: 100vh;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url(./img/IMG_4513.PNG);
    background-size: cover;
    background-position: center;
    color: #FFFBFF;
}



nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    padding: 20px 5%;
}

.logo{
    height: 75px;
    width: 130px;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}


nav ul li a {
    padding: .5em .8em;
    color: white;
    position: relative;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a::before,
nav ul li a::after {
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
}
  
nav ul li a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid #e9080c;
    border-right: 3px solid #97000d;
    transform: translate(-100%, 50%);
}
  
nav ul li a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid #97000d;
    border-left: 3px solid #e9080c;
    transform: translate(100%, -50%)
}
  
nav ul li a:hover:before,
nav ul li a:hover:after{
    transform: translate(0,0);
    opacity: 1;
}
  
nav ul li a:hover {
    color: #e8bba5;
}



.header-text{
    margin-top: 17%;
    font-size:30px;
}

.header-text h1{
    font-size: 50px;
    margin-top: 20px;
}


/* --------------about----------------- */

#about{
    padding: 35px 0;
    color: black;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 10%;
}

.about-col-2{
    flex-basis:60%;

}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #410309;
}

.tab-titles{
    display: flex;
    /* margin:20px 0 40px; */
}

.tab-links{
    margin-right:50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content:'';
    width: 0;
    height: 3px;
    background: #b3000b;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.25s;
}

.tab-links:hover{
    color:#b3000b
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li li{
    margin-left: 45px;
    list-style:circle;
    margin-top: 1px;
    font-size: 15px;
    margin-bottom: 0;
}

.tab-contents ul li h4{
    color: #b3000b;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 4px;
}
.tab-contents ul li h5{
    color: #b3000b;
    font-size: 16px;
    /* margin-left: 30px; */
    margin-top: 10px;
    margin-bottom: 2px;
}
.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;

}


#campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img{
    width: 100%;
    display: block;
    border-radius: 20px;
}

.campus-col h4{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.campus-col p{
    text-align: left;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}

.layer:hover{
    background: rgba(151,0,13,0.8);
}

.layer span{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size:15px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer span ul li{
    text-align: left;
    margin-left: 30px;
    list-style: disc;
}

.layer:hover span{
    bottom:32%;
    opacity:1;
}

p{
    margin-top: 10px;
    margin-bottom: 30px;
}

.layer2{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}

.layer2:hover{
    background: rgba(151,0,13,0.8);
}

.layer2 span{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size:15px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer2 span ul li{
    text-align: left;
    margin-left: 30px;
    list-style: disc;
}

.layer2:hover span{
    bottom:20%;
    opacity:1;
}



.layer3{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left:0;
    transition: 0.5s;
}

.layer3:hover{
    background: rgba(151,0,13,0.8);
}

.layer3 span{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size:15px;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.5s;
    opacity: 0;
}

.layer3 span ul li{
    text-align: left;
    margin-left: 30px;
    list-style: disc;
}

.layer3:hover span{
    bottom:30%;
    opacity:1;
}


.contact-us{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    /* margin-bottom: 40px; */
}

.cont{
    margin-bottom: 50px;
    padding-top: 30px;
    text-align: center;
}

.contact-us{
    align-items: center;
}

.contact-col div .fa{
    font-size: 28px;
    color:#f44336;
    margin: 10px;
    margin-right: 30px;
}

.contact-col div span{
    margin-bottom: 10px;
}

.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}

.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}



.footer{
    width:100%;
    text-align: center;
    padding: 30px 0;
}

.footer h4{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: 400;
}


.activities{
    width:80%;
    align-items: center;
    margin: auto;
    /* padding-bottom: 80px; */
    /* display: flex; */
    /* justify-content: space-between; */
}

.card {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;

    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

/* CSS for the image inside the card */
.card img {
    width: 270px;
    height: 270px;
    object-fit: cover;
    border-radius: 5px;
}

/* CSS for the text content on the right of the image */
.card .card-text {
    flex: 1;
    padding: 0 20px;
}

/* CSS to style the heading and description text */
.card h2 {
    font-size: 18px;
    margin: 0;
}

.card p {
    font-size: 14px;
}


/* .ll{
    width:90%;
    align-items: center;
    margin: auto; 
}  */

.ll img{
    border-radius: 10px;
    padding: 5px;
}

.cardtitle{
    color:#7b0007;
}

.instalink .fa{
    font-size: 17px;
    color:#f44336;
    margin-right: 5px;
}

.instalink{
    display: flex;
    /* align-items: center; */
    text-align: center;
}

.instalink .meq{
    color:#000000;
}

.instalink .meq:hover{
    color:#a06966;
}

.dancer{
    text-align: center;
}

.act{
    margin-bottom: 15px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}

#test{
    padding-top: 50px;
}

.testing{
    width:90%;
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
}
.score-box {
/*    width: 90%;*/
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.scores div{
    font-size: 50px;
}


.scores {
  --s: 150px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 5px;    /* the gap */
  
  border-radius: 50%;
  color: white;
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid transparent;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #b3000b;
}
.scores:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}



.explanation{
    margin-left: 10px;
    margin-right: 15px;
}

.explanation p {
    margin-bottom: 10px;
}



.little-scores div{
    font-size: 20px;
}

.little-scores {
  --s: 50px;   /* the size of the image */
  --b: 8px;     /* the border thickness*/
  --g: 5px;    /* the gap */
  --c: #4ECDC4; /* the color */
  
  border-radius: 50%;
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s)/2) solid transparent;
  outline-offset: calc(var(--s)/-2);
  cursor: pointer;
  transition: .3s;
  display: flex;
  border: 1px solid #ccc;
  align-items: center;
  justify-content: center;
  margin: 5px;
}
.little-scores:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

#text-div {
    display: none;
    background-color: #f7f0f0;
    padding: 10px;
    border-radius: 10px;
    /* border: 1px solid #ccc; */
    position: relative;
    z-index: 1;
    margin-top: 8px;
}

.little-scores:hover + #text-div {
    display: flex;
    position: absolute;
}


#test h1{
    text-align: center;
}

#honors h1{
    text-align: center;
}
#honors{
    width:70%;
    align-items: center;
    margin: auto;
    font-size: large;
}



.button-62 {
    background: linear-gradient(to bottom right, #7b0007, #b3000b);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }

.ielts-section{
    display: flex;
    justify-content: space-between;
}

#honors{
    padding-top: 20px;
}



/* ------------css for small screen -------- */

nav .fas{
    display: none;

}

@media only screen and (max-width: 600px){
    #header{
        background:linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url(./img/IMG_4695.PNG);
        background-size: cover;
    }
    .header-text{
        margin-top: 100%;
        font-size:16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background:#97000d;
        position: fixed;
        top:0;
        right: 0;
        width: 200px;
        height: 100vh;
        padding-top:50px;
        z-index: 2;
        transition: right 0.5s;
    }

    nav ul li{
        display: block;
        margin: 25px;
    }

    nav ul .fas{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
    }



    .sub-title{
        font-size: 40px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    #campus .row{
        display: block;
    }


    .layer2:hover span{
        display: flexbox;
        /* bottom:10%; */
        opacity:1;

        font-size: smaller;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .slideshow-container0 .dancer{
        padding-top: 8px;
        font-size: smaller;
    }

    .card {
        display: block;
        
    }

    .card h2{
        margin-top: 20px;
        
    }

    .testing{
        width:90%;
        align-items: center;
        margin: auto;
        display: block;
        justify-content: center;
    }

    .score-box{
        display: block;
    }

    .score-circle{
        display: flex;
        justify-content: center;
    }

    .contact-us{
        display: block;
    }

    .contact-us .row{
        width: auto;
    }

    .contact-col div h5{
        font-size: 16px;
    }

    
}